<% include partials/header %>

<div class="container">
	<div class="title">
		<h1>Places you can <%= header %>!</h1>
	</div>
	<div class="list-group">
		<% for(var i = 0; i < placeList.length; i++) { %>
		<a href="/find/play/<%= placeList[i].id%>" class="list-group-item"
learn>		<h2 class="list-group-item-heading">
			<%= placeList[i].name %>
			<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i>
		</h2>
 		<p id = "description"class="list-group-item-text">
 			<%= placeList[i].description %>
 		</p>
		<p class="list-group-item-text">
			<%= placeList[i].street_address %> <%= placeList[i].city %>, <%= placeList[i].state %> <%= placeList[i].zipcode %><span class="badge pull-right">1.5mi</span>
		</p>
		</a> 
		<% }%>
	</div>
</div>

<% include partials/footer %>
