<% include partials/header %>

<div class="container">
	<div class="panel panel-success">
		<div class="panel-heading title">
			<h1>
				<%= placeDetails.name %>
				<span class="pull-right"><h4>$$$</h4></span>
			</h1>
			<p>
				<%= placeDetails.street_address %>,
				<%= placeDetails.city %>,
				<%= placeDetails.state %>
				<%= placeDetails.zipcode %>
				<span class="pull-right">1.5mi</span>
			</p>
		</div>
		<div class="panel-body">
			<div id="place-id">
				<%= placeDetails.id %>
			</div>
			<p>
				<%= placeDetails.description %>
			</p>

			<div class="map text-center">
			<iframe
			  width="600"
			  height="450"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAz_fmycFHcpBeoaEhXjS-oFjyA8eO2G7M
			    &q=<%=placeDetails.name%>+<%=placeDetails.city%>" allowfullscreen>
			</iframe>
		</div>

		</div>
	</div>
	<div id="details-btns" class="container">
		<a href="/find"id="find-new" type="button" class="btn btn-danger btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Find a new place!</a>
		<a href="<%=directionStr%>" id="get-directions" type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-location-arrow" aria-hidden="true"></i> Get Directions</a>
	</div>

</div>

<% include partials/footer %>